@font-face {
  font-family: Rubik-medium;
  src: url(../access/fonts/Rubik/static/Rubik-Medium.ttf);
}

@font-face {
  font-family: Rubik;
  src: url(../access/fonts/Rubik/Rubik-VariableFont_wght.ttf);
}

@font-face {
  font-family: Sarabun;
  src: url(../access/fonts/Sarabun/Sarabun-Thin.ttf);
}

@font-face {
  font-family: Roboto Slab-Bold;
  src: url(../access/fonts/Roboto_Slab/static/RobotoSlab-Bold.ttf);
}

@font-face {
  font-family: Roboto Slab;
  src: url(../access/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
}

/* -------------Start Top Bar------------- */
.nav {
  display: flex;
  justify-content: center;
  background: #f8fbfc;
  width: 100%;
  height: 104px;
}

.box-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.img-bar {
  width: 50;
  height: 40;
}

.text-bar {
  margin: 0px;
  margin-left: 16px;
  font-family: Rubik-medium;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: #0f1c49;
}
.nav-bar {
  overflow: hidden;
  margin-top: 5px;
  margin-left: 80px;
  width: 314px;
  display: flex;
  justify-content: space-between;
}

.nav-bar a {
  font-family: Sarabun;
  font-size: 16px;
  font-weight: 800;
  line-height: 28px;
  text-decoration: none;
}

.text-home {
  color: #878da4;
}

.text-home:hover {
  color: #000000;
}

.text-about {
  color: #878da4;
}

.text-about:hover {
  color: #000000;
}

.text-contact {
  color: #000000;
}

.menu {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}

.button {
  width: 210px;
  height: 56px;
  border-radius: 4px;
  cursor: pointer;
}

.appoin-bt {
  font-family: Sarabun;
  font-size: 14px;
  font-weight: 800;
  line-height: 18px;
  border: 1px solid rgba(157, 219, 239, 0.4);
  color: #09a4d8;
  background-color: transparent;
}

.appoin-bt:hover {
  border: transparent;
  color: #f6fafc;
  background-color: #09a4d8;
}
/* -------------End Top Bar------------- */
/* -----------Start image head----------- */
.contact-body {
  display: flex;
  justify-content: center;
}

.contact-img-head {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../access/images/Img-head.png);
  background-repeat: no-repeat;
  width: 1280px;
  height: 400px;
  border-radius: 16px;
}

.head-text {
  margin: 0px;
  font-family: Roboto Slab-Bold;
  font-weight: bold;
  font-size: 56px;
  line-height: 72px;
  text-align: center;
  color: #ffffff;
}

.contaner-menu {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.head-menu {
  font-family: Rubik;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}

.mode-contact-menu {
  mix-blend-mode: normal;
  opacity: 0.6;
}

.oval {
  width: 4px;
  height: 4px;
  margin: 10px 8px;
  border-radius: 50%;
  background-color: white;
}

.nav-item {
  font-family: Sarabun;
  font-size: 16px;
  line-height: 28px;
  color: #878da4;
  text-decoration: none;
}
/* -----------End image head----------- */
/* --------------Start body----------- */
.infomation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}
/* ---contact-infomation--- */
.contact-info {
  width: 500px;
  height: 816px;
}

.contener-info {
  margin: 97px 0px;
}

.head-info {
  margin: 36px 0px 0px 0px;
  font-family: Rubik-medium;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #0f1c49;
}

.info {
  margin-top: 8px;
  font-family: Rubik;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
}

.info-address {
  color: #878da4;
}

.info span {
  color: #878da4;
}

.info-phone {
  margin-top: 24px;
  text-decoration-line: underline;
  color: #09a4d8;
  cursor: pointer;
}

/* -----input-contact----- */
.input-contact {
  margin-bottom: 100px;
  width: 670px;
  height: 816px;
  background: #f8fbfc;
  border-radius: 16px;
}

.contener-touch {
  margin: 80px;
}

.title-touch {
  width: 411px;
  height: 48px;
  margin: 0px;
  font-family: Roboto Slab;
  font-size: 32px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: #0f1c49;
}

.detail-touch {
  margin: 16px 0px 40px 0px;
  width: 470px;
  height: 56px;
  font-family: Rubik;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #878da4;
}

.input {
  margin-bottom: 16px;
  font-family: Rubik;
  font-size: 16px;
  line-height: 28px;
  color: #878da4;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 4px;
}

.text-input {
  width: 470px;
  height: 56px;
  padding-left: 24px;
}

.message-input {
  width: 470px;
  height: 200px;
  padding: 20px 24px;
  resize: none;
}

.button-input {
  width: 470px;
  height: 48px;
  margin-top: 16px;
  background: #09a4d8;
  border-radius: 4px;
  border: transparent;
  font-family: Rubik;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  cursor: pointer;
}

.button-input:hover {
  border: 1px solid rgba(157, 219, 239, 0.4);
  color: #09a4d8;
  background-color: transparent;
}

.icon-contact {
  margin-top: 123px;
  display: flex;
  flex-direction: row;
}

.icon-contact img {
  cursor: pointer;
}

.icon-contact p {
  margin: 0px;
  font-family: Rubik;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #0f1c49;
}

.contanner-icon {
  margin-left: 65px;
  width: 128px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ---------------End body----------- */
/* ----------Start Section footer---- */

.section-footer {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 533px;
  background-color: #0e418a;
}

.inbox-footer {
  width: 1170px;
  height: 413px;
}

.contanner-footer {
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 60px;
  width: 1170px;
  height: 252px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.contaner-contact {
  width: 300px;
  height: 102px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-icon {
  margin: 60px 0px 65px;
  width: 154px;
  display: flex;
  justify-content: space-between;
}

.icon-social {
  cursor: pointer;
}

.icon-social:hover {
  fill: tomato;
}

.text-address {
  font-family: Rubik;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.grid-footer-container {
  display: grid;
  grid-gap: 12px 120px;
  grid-template-columns: 93px 120px 120px;
  grid-template-rows: 50px 23px 23px 23px 23px;
}

.grid-footer {
  font-family: Rubik;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.grid-footer:hover {
  color: #09a4d8;
}

.footer-head {
  font-family: Rubik;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.img-line {
  margin-bottom: 60px;
}

.send-email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-iconFooter {
  display: flex;
  flex-direction: row;
}

.img-path {
  margin-bottom: 55px;
}

.text-Path {
  width: 370px;
  margin: 0px 0px 0px 40px;
  font-family: Rubik;
  font-size: 16px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.6);
}

.text-new {
  margin: 0px 0px 24px;
  font-family: Rubik;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.input-email {
  width: 243px;
  height: 48px;
  padding-left: 24px;

  font-family: Rubik;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;

  background-color: transparent;
  color: rgba(255, 255, 255, 0.4);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
}

.send {
  border: transparent;
  margin-left: -2px;
  width: 99px;
  height: 48px;
  background: #ffffff;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
}

.send:hover {
  background:  #fafafa;
}
/* ----------End Section footer---- */
.copyright {
  width: 100%;
  height: 56px;
  background: #103365;
  font-family: Rubik;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
}

.topnav {
  overflow: hidden;
  margin-left: 80px;
  width: 314px;
  display: flex;
  justify-content: space-between;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  font-family: Sarabun;
  font-size: 16px;
  font-weight: 800;
  line-height: 28px;
  text-decoration: none;
}

.topnav .icon {
  display: none;
}

.fa {
  background-color: rgb(180, 228, 235);
  margin-left: 30px;
  padding: 10px ;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .topnav.responsive {
    position: relative; 
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .text-bar {
    font-size: 19px;
  }

  .contact-img-head {
    width: 100%;
  }

  .infomation {
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
  }

  .contact-info {
    width: 220px;
  }
  
  .icon-contact {
    margin-top: 80px;
  }

  .contanner-icon {
    margin-left: 30px;
    width: 90px;
  }

  .input-contact {
    width: 630px;
  }

  .contanner-footer {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    border-bottom: transparent;
  }

  .box-icon {
    margin: 60px;
  }

  .section-footer {
    height: 800px; 
  }

  .send-email{
    margin-top: 100px;
    flex-direction: column; 
    align-items: center;
  }
  .text-new {
    margin-top: 30px;
  }
}


@media screen and (min-width: 1600px) {
  .box-nav {
    width: 1170px;
   justify-content: space-between;
  }
}


/* @media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: rgb(180, 230, 173);
  }
  .nav-bar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nav-bar.responsive {position: relative;}
  .nav-bar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-bar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} */

/* @media only screen and (max-width: 767px) {
  body {
    background-color: rgb(230, 201, 173);
  }
} */



/* @media screen and (min-width: 768px) {
  .infomation {
    display: flex;
    align-self: center;
    flex-direction: column;
  }
  body {
    background-color: rgb(180, 230, 173);
  }
} */