@font-face {
  font-family: Rubik-medium;
  src: url(../access/fonts/Rubik/static/Rubik-Medium.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(../access/fonts/Rubik/Rubik-VariableFont_wght.ttf);
}
@font-face {
  font-family: Sarabun;
  src: url(../access/fonts/Sarabun/Sarabun-Thin.ttf);
}
@font-face {
  font-family: Roboto Slab-Bold;
  src: url(../access/fonts/Roboto_Slab/static/RobotoSlab-Bold.ttf);
}
@font-face {
  font-family: Roboto Slab;
  src: url(../access/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}
html,body {
  padding: 0;
  margin: 0;
  background: rgba(141, 186, 201, 0.06);
}
/* Start Top Bar */
.nav {
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 100%;
  height: 104px;
}
.box-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.logo {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.img-bar {
  width: 50;
  height: 40;
}
.text-bar {
  margin: 0px;
  margin-left: 16px;
  font-family: Rubik-medium;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: #0f1c49;
}
.nav-bar {
  margin-left: 60px;
  font-family: Sarabun;
  font-size: 16px;
  font-weight: 800;
  line-height: 28px;
  text-decoration: none;
}
.text-home {color: #000000;}
.text-about {color: #878da4;}
.text-about:hover {color: #000000;}
.text-contact {color: #878da4}
.text-contact:hover {color: #000000;}
.menu {
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.button {
  width: 210px;
  height: 56px;
  border-radius: 4px;
  cursor: pointer;
}
.appoin-bt {
  font-family: Sarabun;
  font-size: 14px;
  font-weight: 800;
  line-height: 18px;
  border: 1px solid rgba(250, 185, 28, 0.4);
  color: #fab91c;
  background-color: transparent;
}

.appoin-bt:hover {
  border: transparent;
  color: #f6fafc;
  background-color: #fab91c;
}
/* End Top Bar */

/* Start section Connecting */
.section-connec {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.connecting {margin: 116px 129px 0px 0px;}
.head-connec {
  width: 300px;
  margin: 0px;
  font-family: Roboto Slab;
  font-size: 56px;
  line-height: 72px;
  border-bottom: 3px solid currentColor;
  color: #0f1c49;
}
.head-connecting {width: 440px;}
.connecting p {
  width: 416px;
  height: 84px;
  margin: 40px 0px 56px 0px;
  font-family: Rubik;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #878da4;
}
.connec-bt {
  font-family: Rubik;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background: #fab91c;
  border-radius: 8px;
  border: transparent;
}
.connec-bt:hover {box-shadow: 0px 15px 30px rgba(209, 152, 14, 0.32);}
.img-connec {
  width: 599px;
  margin-top: 116px;
}
.img-connecting {
  width: 599px;
  height: 439px;
}
/* End section Connecting */

/* Start Section Trusted */
.section-trusted {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-trusted p {
  width: 428px;
  height: 76px;
  margin: 140px 0px 80px 0px;
  font-family: Rubik;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  color: #878da4;
}
.section-trusted strong {color: #09a4d8;}
.trusted {
  width: 1029px;
  display: flex;
  justify-content: space-between;
}
/* End Section Trusted */

/* Start Section Services */
.section-services { margin: 140px 0px;}
.our-services {
  margin: 0px;
  font-family: Roboto Slab;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #0f1c49;
}
.grid-services {
  display: grid;
  margin-top: 80px;
  grid-gap: 30px;
  grid-template-columns: 370px 370px 370px;
  justify-content: center;
}
.card {
  width: 370px;
  height: 403px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  border-radius: 24px;
  cursor: pointer;
}
.img-services { margin: 43px;}
.head-services {
  margin: 0px 0px 24px 0px;
  font-family: Rubik;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: #0f1c49;
}
.detail-services {
  margin: 0px 0px 40px 0px;
  width: 290px;
  height: 84px;
  font-family: Rubik;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #878da4;
}
.read {
  font-family: Rubik;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: transparent;
}
.card:hover {
  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);
}
.card:hover .read {color: #fab91c;}
/* End Section Services */

/* Start Section Booking */
.section-booking {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 582px;
  margin-bottom: 140px;
}
.contanner-textBooking {margin-right: 210px;}
.head-booking {
  width: 360px;
  height: 96px;
  margin: 114px 0px 40px 0px;
  font-family: Roboto Slab;
  font-size: 32px;
  line-height: 48px;
  align-items: center;
  color: #0f1c49;
}
.text-booking {
  font-family: Rubik;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #878da4;
}
/* //contanner-Doctor// */
.doctor-box {position: relative;}
.doctor {position: absolute;}
.detail-box {
  position: relative;
  width: 600px;
  height: 582px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.contanner-doctor {
  position: absolute;
  width: 320px;
  height: 338px;
  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
}
.grid-detail {
  display: grid;
  grid-gap: 24px 12px;
  padding: 32px 32px 16px;
}
.grid-item {background-color: rgba(255, 255, 255, 0.8);}
.item1 {width: 69px;}
.item2 {
  width: 175px;
  grid-column: 2 / span 3;
  grid-row: 1;
}
.item3 {
  grid-column: 1 / span 4;
  grid-row: 2;
}
.item4 {width: 73px;}
.item5 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / span 3;
  grid-row: 3;
}
.item2 p {
  margin: 0px;
  font-family: Rubik;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #878da4;
}
.item2 div {
  margin: 8px 0px;
  font-family: Rubik;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #7cd518;
}
.box-call {
  padding: 16px 0px 10px 24px;
  background: linear-gradient(134.81deg, #08b2e2 -19.64%, #0d5da0 92.4%);
  border-radius: 16px;
}
.text-call {
  margin: 0px;
  font-family: Rubik;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.text-cal-num {
  margin: 4px 0px 16px;
  font-family: Rubik;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.box-rectangle {
  width: 208px;
}
.rectangle-line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  margin-bottom: 10px;
}
.phone-call {
  margin-top: 10px 0px 0px;
  font-family: Rubik;
  font-size: 12px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.item4-num {
  margin: 0px;
  font-family: Rubik-medium;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #0f1c49;
}
.item4-text {
  margin: 0px;
  font-family: Rubik;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #878da4;
}
.shape {
  width: 148px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4f4;
  border-radius: 16px;
}
/* End Section Booking */

/* Start Section take care */
.section-takeCare {
  display: flex;
  justify-content: center;
  margin-bottom: 140px;
}
.contanner-takeCare {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1170px;
}
.sec-picTakeCare {
  position: relative;
  width: 600px;
  height: 542px;
}
.detail-boxTakeCare1 {
  width: 600px;
  height: 350px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.detail-boxTakeCare2 {
  position: absolute;
  width: 170px;
  height: 192px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.pic-patient {position: absolute;}
.contanner-patient {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 256px;
  height: 88px;
  background: linear-gradient(137.15deg, #7d69cd -3.67%, #2e2c84 110.8%);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
}
.box-patient {
  margin: 16px 0px 0px 24px;
  width: 168px;
  height: 88px;
}
.patient-phone2 {
  display: flex;
  align-items: center;
}
.text-patien {
  margin: 0px;
  width: 81px;
  font-family: Rubik;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.num-patien {
  margin: 0px;
  width: 116px;
  font-family: Rubik;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.contanner-picPatient {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
}
.head-takeCare {
  width: 473px;
  font-family: Roboto Slab;
  font-size: 32px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: #0f1c49;
}
.contaner-text {margin-bottom: 56px;}
/* End Section take care */

/* Start Section clients */
.Section-clients {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-testimonial {
  margin: 0px 0px 8px;
  font-family: Rubik;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #09a4d8;
}
.text-say {
  margin: 0px 0px 80px;
  font-family: Roboto Slab;
  font-size: 32px;
  line-height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #0f1c49;
}
.box-say {
  display: flex;
  flex-direction: row;
  width: 1170px;
  justify-content: space-between;
}
.card-quote {
  position: relative;
  display: flex;
  justify-content: center;
  width: 370px;
  height: 312px;
}
.img-quote {position: absolute;}
.card-client {
  position: absolute;
  width: 370px;
  height: 312px;
  top: 0;
  transition: top ease 0.5s;
  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);
  border-radius: 24px;
}
.card-client:hover {top: 60px;}
.contanner-say {
  display: flex;
  flex-direction: row;
  margin: 48px 0px 40px 48px;
}
.contanner-text {
  margin-left: 21px;
}
.text-name {
  margin: 0px;
  font-family: Rubik;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #0f1c49;
}
.text-career {
  margin: 0px;
  font-family: Rubik;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #878da4;
}
.text-say1 {
  width: 274px;
  margin: 0px 48px;
  font-family: Rubik;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #878da4;
}
.text-say2 {
  width: 274px;
  margin: 0px 48px;
  font-family: Rubik;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #878da4;
}
.box-circle {
  margin: 140px 0px;
  width: 112px;
  display: flex;
  justify-content: space-between;
}
.circle-bt {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: transparent;
  background: rgba(250, 185, 28, 0.24);
  cursor: pointer;
}
.circle-bt:hover {background: #fab91c;}
/* End Section clients */

/* Start Section footer */
.section-footer {
  align-items: center;
  height: 782px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.box-footer {
  position: absolute;
  height: 782px;
  background-color: transparent;
}
.footer {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 657px;
  background: #0e418a;
}
.contanner-download {
  align-self: flex-start;
  position: absolute;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 970px;
  height: 249px;
  background: #ffffff;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}
.box-download {
  margin-left: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.download {
  margin: 0px;
  font-family: Rubik;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #878da4;
}
.text-download {
  margin: 0px;
  font-family: Roboto Slab;
  font-size: 32px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: #0f1c49;
}
.bt-app {
  display: flex;
  flex-direction: column;
}
.bt-download {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 311px;
  height: 125px;
  cursor: pointer;
  background-color: transparent;
  border-style: solid;
  border-left-width: thin;
  border-right: transparent;
  border: 1px solid #f1f1f1;
  box-sizing: border-box;
}
.download1 {
  border-top: transparent;
  border-bottom: transparent;
}
.download1:hover {
  border-top-right-radius: 32px;
  background-color: #fafafa;
}
.download2 {
  border-bottom: transparent;
  border-right: transparent;
}
.download2:hover {
  border-bottom-right-radius: 32px;
  background-color: #fafafa;
}
.bt-app {
  text-align: left;
}
.text-app1 {
  font-family: Rubik;
  font-size: 18px;
  margin: 5px 0px 10px;
  color: #888888;
}
.text-app2 {
  font-family: Rubik;
  font-size: 18px;
  margin: 0px;
  font-weight: 800;
  color: #141313;
}
.icon-app {
  margin-right: 27px;
  align-self: center;
}
/* End Section footer */
.inbox-footer {
  margin-top: 185px;
  width: 1170px;
  height: 413px;
}
.contanner-footer {
  width: 1170px;
  height: 252px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contaner-contact {
  width: 300px;
  height: 102px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box-icon {
  margin: 60px 0px 65px;
  width: 154px;
  display: flex;
  justify-content: space-between;
}
.icon-social {
  cursor: pointer;
}
.text-address {
  font-family: Rubik;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.grid-footer-container {
  display: grid;
  grid-gap: 120px;
  grid-template-columns: 93px 120px 90px;
}
.grid-footer {
  font-family: Rubik;
  font-size: 16px;
  line-height: 35px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.grid-footer:hover {color: #09a4d8;}
.footer-head {
  margin-bottom: 24px;
  font-family: Rubik;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.under-line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 1170px;
  margin: 0px 0px 60px;
  display: flex;
  justify-content: center;
}
.send-email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.img-iconFooter {
  display: flex;
  flex-direction: row;
}
.img-path {
  margin-bottom: 55px;
}
.text-Path {
  width: 370px;
  margin: 0px 0px 0px 40px;
  font-family: Rubik;
  font-size: 16px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.6);
}
.text-new {
  margin: 0px 0px 24px;
  font-family: Rubik;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.contanner-inputEmail {
  display: flex;
  flex-direction: row;
}
.input-email {
  width: 243px;
  height: 48px;
  padding-left: 24px;
  font-family: Rubik;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.4);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
}
.send {
  border: transparent;
  margin-left: -2px;
  width: 99px;
  height: 48px;
  background: #ffffff;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
}
.send:hover {background: #fafafa;}
/* End Section footer */

.copyright {
  width: 100%;
  height: 56px;
  background: #103365;
  font-family: Rubik;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #F8FBFC;;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {color: #f1f1f1;}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.fa-bars {
  margin: 35px 20px;
  color: #fab91c;
  padding: 10px;
  border: 1px solid rgba(250, 185, 28, 0.4);
  border-radius: 5px;
}

/* Phone  */
@media only screen and (max-width: 767px) {
  .box-nav .logo a,
  .box-nav .menu {
    display: none;
  }
  .box-nav {
    justify-content: flex-start;
    margin-left: 20px;
  }
  .nav-bar{
    display: block;
    margin: 0px;
  }
  .btn-menu {display: block;}
  
  .text-bar {
    font-size: 18px;
    margin-left: 10px;
  }
  .menu {
    width: auto;
    padding: 0px 20px;
    margin-top: 8px;
  }
  .topnav {
    width: auto;
    margin-left: 0px;
  }
  .appoin-bt {font-size: 10px;}
  /* End topbar */
  
  .section-connec {
    width: 100%;
    flex-wrap: wrap;
  }
  .connecting {margin: 30px 0px 0px 20px;}
  .head-connec {
    width: fit-content;
    font-size: 35px;
  }
  .connecting p {
    width: 80%;
    height: fit-content;
  }
  .img-connec {
    width: 100%;
    margin-top: 60px;
  }
  .img-connecting {
    width: 95%;
    height: auto;
  }

  .section-trusted p {
    width: 100%;
    height: fit-content;
    margin: 100px 0px 40px; 
  }
  .trusted {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contaner-trusted {margin-bottom: 30px;}

  .section-services {margin: 80px 0px 60px;}
  .grid-services {
    margin-top: 30px;
    grid-template-columns: 75%;
  }
  .card {width: 100%;}
  .img-services {
    margin: 30px;
    width: 30%;
    height: 15%;
  }
  .detail-services {
    width: 80%;
    height: fit-content;
    margin-bottom: 30px;
  }

  .section-booking {
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 60px;
  }
  .contanner-textBooking {
    margin: 0px;
    width: 100%;
    margin-bottom: 30px;
    padding-left: 10px;
  }
  .head-booking {
    width: 95%;
    margin: 0px 0px 15px;
    font-size: 28px;
  }
  .text-booking {
    text-align: left;
    font-size: 12px;
  }

  .sec-doctor {
    width: 95%;
    margin-left: 6px;
  }
  .doctor {width: 70%;}
  .detail-box {
    width: 100%;
    height: 270px;
  }
  .contanner-doctor {
    width: 60%;
    height: 60%;
    border-radius: 12px;
  }

  .grid-detail {
    padding: 12px 14px 6px;
    grid-gap: 3px 4px;
  }
  .item1 {width: 30px;}
  .img-item1 {width: 30px;}
  .box-item2 {margin: 4px;}
  .item2 {width: 100%;}
  .item2 p{
    font-size: 10px;
    line-height: 12px;
    width: 100%;
  }
  .item2 div {
    font-size: 9px;
    width: 100%;
  }
  .img-item2 {
    width: 5px;
    height: auto;
  }
  .box-call {
    padding: 8px 10px 0px 10px;
    border-radius: 10px;
  }
  .text-call {
    font-size: 8px;
    line-height: 4px;
  }
  .text-cal-num {
    font-size: 10px;
    margin: 0px;
    line-height: 24px;
  }
  .box-rectangle {width: auto;}
  .img-phone-call {width: 6px;}
  .phone-call {font-size: 8px;}
  .item4 {width: 38px;}
  .item4-num {font-size: 16px;}
  .item4-text {
    font-size: 7px;
    line-height: 18px;
  }
  .shape {
    height: 25px;
    width: 90px;
    border-radius: 9px;
  }
  .img-shape { width: 60%;}
  .item5 {
    justify-content: flex-end;
    width: 110px;
  }
  .rectangle-line {margin-bottom: 5px;}

  .section-takeCare {margin-bottom: 100px;}
  .contanner-takeCare {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .sec-picTakeCare {
    width: 96%;
    height: 270px;
  }
  .pic-patient {width: 80%;}
  .detail-boxTakeCare1 {
    width: 100%;
    height: 190px;
  }
  .contanner-patient {
    width: 150px;
    height: 55px;
    border-radius: 8px;
  }
  .box-patient {
    margin: 10px 0px 0px 10px;
    width: 100px;
  }
  .text-patien {
    font-size: 8px;
    line-height: 18px;
  }
  .num-patien {
    font-size: 10px;
    line-height: 18px;
  }
  .detail-boxTakeCare2 {
    width: 90px;
    height: 80px;
  }
  .contanner-picPatient {
    width: 50px;
    height: 50px;
    border-radius: 8px;
  }
  .light {width: 60%;}
  .sec-detailTakeCare {width: 90%;}
  .head-takeCare {
    font-size: 24px;
    line-height: 38px;
    width: 80%;
    margin-bottom: 10px;
  }
  .contaner-text {margin-bottom: 20px;}

  .text-say1 {margin-bottom: 50px;}
  .box-say {
    flex-wrap: wrap;
    width: 100%;
  }
  .card-client {
    width: 85%;
    height: 90%;
  }
  .card-client:hover {top: 50px;}
  .contanner-say {margin: 30px 0px 30px 30px;}
  .text-say1 {
    width: 80%;
    margin: 0px 30px;
  }
  .text-say2 {
    width: 80%;
    margin: 0px 30px;
  }
  .box-circle {margin: 60px 0px;}
  /* Strat footer  */
  .section-footer {height: 1515px;}
  .footer {height: 1440px;}
  .contanner-download {
    width: 80%;
    height: 10%;
    border-radius: 12px;
  }
  .box-download {margin: 0px 10px 0px 20px;}
  .download {font-size: 70%;}
  .text-download {font-size: 80%;}
  .icon-app {
    width: 30%;
    margin-right: 5px;
  }
  .text-app1 {
    font-size: 50%;
    margin-bottom: 5px;
  }
  .text-app2 {font-size: 55%; }
  .bt-download {
    width: 90px;
    height: 50%;
  }
  .inbox-footer {
    width: 100%;
    height: 353px;
    margin-top: 100px;
  }
  .contanner-footer {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    border-bottom: transparent;
  }
  .box-underline {
    display: flex;
    justify-content: center;
  }
  .under-line {
    width: 550px;
    margin: 60px;
  }

  .box-contact {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .box-icon {margin: 30px auto;}
  .grid-footer-container {
    grid-template-columns: 120px;
    row-gap: 40px;
    margin-top: 30px;
  }
  .send-email{
    width: 100%;
    height: auto;
    flex-direction: column; 
    align-items: center;
  }
  .img-path {height: 100%;}
  .text-Path {
    height: auto;
    width: 180px;
    margin-left: 20px;
  }
  .contanner-textNew {
    width: 230px;
    text-align: center;
  }
  .text-new {
    margin-top: 30px;
    width: 100%;
  }
  .copyright {
    margin: 0px;
    text-align: center;
  }
}

/* ipad  */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .box-nav .logo a,
  .box-nav .menu {
    display: none;
  }
  .box-nav {
    justify-content: flex-start;
    margin-left: 20px;
  }
  .nav-bar{
    display: block;
    margin: 0px;
  }
  .btn-menu {display: block;}
  .fa-bars { margin-right: 35px; }
  .menu {
    width: auto;
    padding: 8px 20px;
  }
  /* End topbar */

  .section-connec {
    flex-direction: column;
    align-items: center;
  }
  .trusted {
    width: 500px;
    display: flex;
    flex-flow: row wrap;
  }
  .contaner-trusted {margin: 0px 15px 30px 15px;}
  .section-services {margin: 110px 0px 60px;}
  .section-booking {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .contanner-textBooking {margin: 0px 0px 30px;}
  .grid-services {grid-template-columns: 370px;}
  .head-booking {margin: 0px;}
  .box-say {
    width: 100%;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
  }
  .card-quote {margin: 0px 15px 75px 0px;}
  .box-circle {margin: 65px 0px 140px;}
  .section-takeCare { margin-bottom: 110px;}
  .contanner-takeCare {
    flex-direction: column;
    align-items: center;
  }
  .box-textBooking {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* start-footer */
  .section-footer {height: 1090px;}
  .footer {height: 970px;}
  .grid-footer-container {margin-top: 60px;}
  .contanner-download {width: 80%;}
  .inbox-footer {height: 353px;}
  .contanner-footer {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    border-bottom: transparent;
  }
  .box-underline {
    display: flex;
    justify-content: center;
  }
  .under-line {
    width: 550px;
    margin: 60px;
  }
  .box-contact {
    display: flex;
    flex-direction: row;
    width: 550px;
  }
  .box-icon {margin: auto;}
  .send-email {
    flex-direction: column;
    align-items: center;
  }
  .text-new {margin-top: 30px;}
}
@media screen and (min-width: 1024px) and (max-width: 1100px) {
  .contanner-download {
    width: 750px;
  }
}
@media screen and (min-width: 1600px) {
  .box-nav {
    width: 1170px;
    justify-content: space-between;
  }
}
